.svg-arrow-dims {
    width: 14px;
    height: 14px;
}

.svg-arrow-ltr-in-dims {
    width: 28px;
    height: 98px;
}

.svg-arrow-ltr-out-dims {
    width: 30px;
    height: 95px;
}

.svg-arrow-rtl-in-dims {
    width: 28px;
    height: 98px;
}

.svg-arrow-rtl-out-dims {
    width: 30px;
    height: 95px;
}

.svg-arrow-ttb-in-dims {
    width: 52px;
    height: 23px;
}

.svg-arrow-ttb-out-dims {
    width: 70px;
    height: 30px;
}

.svg-box-dims {
    width: 50px;
    height: 50px;
}

.svg-castling-dims {
    width: 51px;
    height: 51px;
}

.svg-certificate-dims {
    width: 52px;
    height: 44px;
}

.svg-check-dims {
    width: 14px;
    height: 14px;
}

.svg-garage-dims {
    width: 50px;
    height: 51px;
}

.svg-hourglass-dims {
    width: 36px;
    height: 50px;
}

.svg-lock-dims {
    width: 16px;
    height: 16px;
}

.svg-phone-dims {
    width: 33px;
    height: 33px;
}

.svg-track-dims {
    width: 50px;
    height: 36px;
}

