@use'../abstracts';

html {
  height: 100%;
}

main {
  flex-grow: 1;
}

body {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
}

.page-grid {
  @include abstracts.page-grid;
}

.page-grid > :where(:not(.breakout, .page-grid-full-width)),
.page-grid-full-width > :where(:not(.breakout, .page-grid-full-width)) {
  grid-column: content;
}

.page-grid-breakout {
  @include abstracts.page-grid-breakout;
}

.page-grid-full-width {
  @include abstracts.page-grid-full-width;
}
